@import "../../../scss/variables.scss";

.project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  transition: transform 0.4s ease-out;

  animation: fade-in 1s ease-out forwards;

  &:hover {
    transform: scale(1.05);

    .hover-overlay {
      opacity: 100%;
    }
  }

  .project-card-top {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    background-color: color(project-dark);

    border-radius: 10px 10px 0 0;
    border: 10px solid;

    width: 90%;

    .logo-container {
      display: flex;
      justify-content: center;

      .project-logo {
        margin: 20px 0;

        @include width1600 {

          width: calc(297px * 0.8);
          height: calc(79px * 0.8);
        }
      }
    }

    .project-gif {
      width: 750px;
      height: auto;
      margin: 40px auto;
    }
  }

  .project-card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: -1px;
    width: 90%;
    height: 100px;

    color: white;
    border-radius: 0 0 10px 10px;

    h2 {
      padding: 0 50px 10px;
    }
  }

  &.tracker {
    .project-card-top {
      border-color: color(tracker-green);
    }

    .project-card-bottom {
      background-color: color(tracker-green);
    }
  }
  &.primal {
    .project-card-top {
      border-color: color(primal-red);
    }

    .project-card-bottom {
      background-color: color(primal-red);
    }
  }
  &.folio {
    .project-card-top {
      border-color: color(folio-blue);
    }

    .project-card-bottom {
      background-color: color(folio-blue);
    }
  }
  &.cluster {
    .project-card-top {
      border-color: color(cluster-purple);
    }

    .project-card-bottom {
      background-color: color(cluster-purple);
    }
  }
  &.tas {
    .project-card-top {
      border-color: color(tas-blue);
    }

    .project-card-bottom {
      background-color: color(tas-blue);
    }
  }
  &.loaa {
    .project-card-top {
      border-color: color(loa-dark);
    }

    .project-card-bottom {
      background-color: color(loa-dark);
    }
  }
  &.loaw {
    .project-card-top {
      border-color: color(loa-dark);
    }

    .project-card-bottom {
      background-color: color(loa-dark);
    }
  }
}
