.project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-animation: fade-in 1s ease-out forwards;
          animation: fade-in 1s ease-out forwards;
}

.project-card-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-card-container:hover .hover-overlay {
  opacity: 100%;
}

.project-card-container .project-card-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #161616;
  border-radius: 10px 10px 0 0;
  border: 10px solid;
  width: 90%;
}

.project-card-container .project-card-top .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card-container .project-card-top .logo-container .project-logo {
  margin: 20px 0;
}

.project-card-container .project-card-top .project-gif {
  width: 750px;
  height: auto;
  margin: 40px auto;
}

.project-card-container .project-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: -1px;
  width: 90%;
  height: 100px;
  color: white;
  border-radius: 0 0 10px 10px;
}

.project-card-container .project-card-bottom h2 {
  padding: 0 50px 10px;
}

.project-card-container.tracker .project-card-top {
  border-color: #008b0e;
}

.project-card-container.tracker .project-card-bottom {
  background-color: #008b0e;
}

.project-card-container.primal .project-card-top {
  border-color: #a60000;
}

.project-card-container.primal .project-card-bottom {
  background-color: #a60000;
}

.project-card-container.folio .project-card-top {
  border-color: #365383;
}

.project-card-container.folio .project-card-bottom {
  background-color: #365383;
}

.project-card-container.cluster .project-card-top {
  border-color: #3d2242;
}

.project-card-container.cluster .project-card-bottom {
  background-color: #3d2242;
}

.project-card-container.tas .project-card-top {
  border-color: #252e53;
}

.project-card-container.tas .project-card-bottom {
  background-color: #252e53;
}

.project-card-container.loaa .project-card-top {
  border-color: #272324;
}

.project-card-container.loaa .project-card-bottom {
  background-color: #272324;
}

.project-card-container.loaw .project-card-top {
  border-color: #272324;
}

.project-card-container.loaw .project-card-bottom {
  background-color: #272324;
}
/*# sourceMappingURL=project-card.css.map */