@import "../../scss/variables.scss";

.about-page {
  display: flex;
  flex-direction: column;

  .tech-section {
    width: 1600px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include width1600 {
      width: 1200px;
    }

    @include width1600 {
      width: 550px;

      .tools-icons-container {
        margin: 0;
      }
    }

    h1 {
      margin: 50px 0;
    }
    h2 {
      margin: 50px 0;
    }
  }
}
