@import "../../scss/variables.scss";

.hero-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  height: 500px;
  padding-top: 200px;

  display: flex;
  justify-content: center;

  transition: height 1s ease-out;

  .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1080px;
  }

  &.home {
    padding-top: 160px;
    background-image: linear-gradient(
      color(primary),
      color(primary),
      color(primary2)
    );

    animation: contract-hero 1s ease-out forwards;

    @keyframes contract-hero {
      from {
        height: 700px;
      }
      to {
        height: 500px;
      }
    }
  }

  &.about {
    padding-top: 160px;
    background-image: linear-gradient(
      color(primary),
      color(primary),
      color(primary2)
    );

    animation: expand-hero 1s ease-out forwards;

    @keyframes expand-hero {
      from {
        height: 500px;
      }
      to {
        height: 700px;
      }
    }

    .hero-content {
      flex-direction: row-reverse;
    }
  }

  @each $project, $color in $projects {
    &.#{$project} {
      padding-top: 160px;
      background-image: linear-gradient(
        color(#{$color}),
        color(#{$color}),
        lighten(color(#{$color}), 5%)
      );
    }
  }
}
