@import "../../scss/variables.scss";

.hero-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  height: 500px;
  padding-top: 200px;

  display: flex;
  justify-content: center;

  .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1080px;
  }
  &.primary {
    padding-top: 160px;
    background-image: linear-gradient(color(primary), color(primary2));
  }
}
