.hero-container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  height: 500px;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
}

.hero-container .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1080px;
}

@media (max-width: 1200px) {
  .hero-container .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    width: 500px;
  }
  .hero-container .hero-content .hero-text.about-details {
    padding-top: 50px;
  }
  .hero-container .hero-content .hero-text.about-details h1 {
    text-align: center;
  }
  .hero-container .hero-content .hero-text.about-details h2 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hero-container .hero-content {
    width: 100%;
    padding: 0 10%;
  }
  .hero-container .hero-content .hero-text.about-details {
    padding-top: 0px;
  }
  .hero-container .hero-content .hero-text.about-details p {
    font-size: 1.3em;
  }
}

.hero-container.home {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a2c49), color-stop(#1a2c49), to(#133367));
  background-image: linear-gradient(#1a2c49, #1a2c49, #133367);
  -webkit-animation: contract-hero 1s ease-out forwards;
          animation: contract-hero 1s ease-out forwards;
}

@media (max-width: 1600px) {
  .hero-container.home {
    -webkit-animation: contract-hero1600 1s ease-out forwards;
            animation: contract-hero1600 1s ease-out forwards;
  }
}

@media (max-width: 1200px) {
  .hero-container.home {
    -webkit-animation: contract-hero1200 1s ease-out forwards;
            animation: contract-hero1200 1s ease-out forwards;
  }
}

@media (max-width: 600px) {
  .hero-container.home {
    -webkit-animation: contract-hero600 1s ease-out forwards;
            animation: contract-hero600 1s ease-out forwards;
    padding-top: 100px;
  }
}

@-webkit-keyframes contract-hero {
  from {
    height: 700px;
  }
  to {
    height: 500px;
  }
}

@keyframes contract-hero {
  from {
    height: 700px;
  }
  to {
    height: 500px;
  }
}

@-webkit-keyframes contract-hero1600 {
  from {
    height: 500px;
  }
  to {
    height: 400px;
  }
}

@keyframes contract-hero1600 {
  from {
    height: 500px;
  }
  to {
    height: 400px;
  }
}

@-webkit-keyframes contract-hero1200 {
  from {
    height: 900px;
  }
  to {
    height: 700px;
  }
}

@keyframes contract-hero1200 {
  from {
    height: 900px;
  }
  to {
    height: 700px;
  }
}

@-webkit-keyframes contract-hero600 {
  from {
    height: 900px;
  }
  to {
    height: 900px;
  }
}

@keyframes contract-hero600 {
  from {
    height: 900px;
  }
  to {
    height: 900px;
  }
}

.hero-container.about {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a2c49), color-stop(#1a2c49), to(#133367));
  background-image: linear-gradient(#1a2c49, #1a2c49, #133367);
  -webkit-animation: expand-hero 1s ease-out forwards;
          animation: expand-hero 1s ease-out forwards;
}

@media (max-width: 1600px) {
  .hero-container.about {
    -webkit-animation: expand-hero1600 1s ease-out forwards;
            animation: expand-hero1600 1s ease-out forwards;
  }
}

@media (max-width: 1200px) {
  .hero-container.about {
    -webkit-animation: expand-hero1200 1s ease-out forwards;
            animation: expand-hero1200 1s ease-out forwards;
  }
}

@-webkit-keyframes expand-hero {
  from {
    height: 500px;
  }
  to {
    height: 700px;
  }
}

@keyframes expand-hero {
  from {
    height: 500px;
  }
  to {
    height: 700px;
  }
}

@-webkit-keyframes expand-hero1600 {
  from {
    height: 400px;
  }
  to {
    height: 500px;
  }
}

@keyframes expand-hero1600 {
  from {
    height: 400px;
  }
  to {
    height: 500px;
  }
}

@-webkit-keyframes expand-hero1200 {
  from {
    height: 700px;
  }
  to {
    height: 900px;
  }
}

@keyframes expand-hero1200 {
  from {
    height: 700px;
  }
  to {
    height: 900px;
  }
}

.hero-container.about .hero-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .hero-container.about .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 0px;
  }
}

.hero-container.cluster {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d2242), color-stop(#3d2242), to(#4d2b53));
  background-image: linear-gradient(#3d2242, #3d2242, #4d2b53);
}

@media (max-width: 1200px) {
  .hero-container.cluster .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.cluster {
    padding-top: 100px;
  }
}

.hero-container.tracker {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(#161616), to(#232323));
  background-image: linear-gradient(#161616, #161616, #232323);
}

@media (max-width: 1200px) {
  .hero-container.tracker .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.tracker {
    padding-top: 100px;
  }
}

.hero-container.primal {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(#161616), to(#232323));
  background-image: linear-gradient(#161616, #161616, #232323);
}

@media (max-width: 1200px) {
  .hero-container.primal .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.primal {
    padding-top: 100px;
  }
}

.hero-container.tas {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#252e53), color-stop(#252e53), to(#2d3865));
  background-image: linear-gradient(#252e53, #252e53, #2d3865);
}

@media (max-width: 1200px) {
  .hero-container.tas .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.tas {
    padding-top: 100px;
  }
}

.hero-container.loa {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#272324), color-stop(#272324), to(#342f30));
  background-image: linear-gradient(#272324, #272324, #342f30);
}

@media (max-width: 1200px) {
  .hero-container.loa .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.loa {
    padding-top: 100px;
  }
}

.hero-container.folio {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a2c49), color-stop(#1a2c49), to(#21375c));
  background-image: linear-gradient(#1a2c49, #1a2c49, #21375c);
}

@media (max-width: 1200px) {
  .hero-container.folio .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.folio {
    padding-top: 100px;
  }
}

.hero-container.loaa {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#272324), color-stop(#272324), to(#342f30));
  background-image: linear-gradient(#272324, #272324, #342f30);
}

@media (max-width: 1200px) {
  .hero-container.loaa .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.loaa {
    padding-top: 100px;
  }
}

.hero-container.loaw {
  padding-top: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#272324), color-stop(#272324), to(#342f30));
  background-image: linear-gradient(#272324, #272324, #342f30);
}

@media (max-width: 1200px) {
  .hero-container.loaw .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .hero-container.loaw {
    padding-top: 100px;
  }
}
/*# sourceMappingURL=hero.css.map */