@import "../../scss/variables.scss";

.hero-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  height: 500px;
  padding-top: 200px;

  display: flex;
  justify-content: center;

  transition: height 1s ease-out;


  .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1080px;

    @include width1200 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: left;

      width: 500px;
    }

    @include width600 {
      width: 100%;
      padding: 0 10%;
    }
  }

  &.home {
    padding-top: 160px;
    background-image: linear-gradient(
      color(primary),
      color(primary),
      color(primary2)
    );

    animation: contract-hero 1s ease-out forwards;

    @include width1600 {
      animation: contract-hero1600 1s ease-out forwards;
    }

    @include width1200 {
      animation: contract-hero1200 1s ease-out forwards;
    }

    @include width600 {
      animation: contract-hero600 1s ease-out forwards;
      padding-top: 100px;
    }

    @keyframes contract-hero {
      from {
        height: 700px;
      }
      to {
        height: 500px;
      }
    }
    @keyframes contract-hero1600 {
      from {
        height: 500px;
      }
      to {
        height: 400px;
      }
    }
    @keyframes contract-hero1200 {
      from {
        height: 900px;
      }
      to {
        height: 700px;
      }
    }

    @keyframes contract-hero600 {
      from {
        height: 900px;
      }
      to {
        height: 900px;
      }
    }
  }

  &.about {
    padding-top: 160px;
    background-image: linear-gradient(
      color(primary),
      color(primary),
      color(primary2)
    );

    animation: expand-hero 1s ease-out forwards;

    @include width1600 {
      animation: expand-hero1600 1s ease-out forwards;
    }

    @include width1200 {
      animation: expand-hero1200 1s ease-out forwards;
    }

    @keyframes expand-hero {
      from {
        height: 500px;
      }
      to {
        height: 700px;
      }
    }

    @keyframes expand-hero1600 {
      from {
        height: 400px;
      }
      to {
        height: 500px;
      }
    }

    @keyframes expand-hero1200 {
      from {
        height: 700px;
      }
      to {
        height: 900px;
      }
    }

    .hero-content {
      flex-direction: row-reverse;

      @include width1200 {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 150px;
      }
    }
  }

  @each $project, $color in $projects {
    &.#{$project} {
      padding-top: 160px;
      background-image: linear-gradient(
        color(#{$color}),
        color(#{$color}),
        lighten(color(#{$color}), 5%)
      );

      @include width1200 {
        .hero-content {
          flex-direction: column-reverse;
          justify-content: flex-end;
        }
      }

      @include width600 {
        padding-top: 100px;
      }
    }
  }
}
