@import "../../../scss/variables.scss";

.buttons-container {
  width: 1800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0;

  animation: buttons-slide-in 1s ease-out forwards;

  @include width1600 {
    max-width: 1200px;
  }

  @include width1200 {
    max-width: 550px;

    .main-button:first-child {
      border-radius: 10px 0 0 10px;
    }

    .main-button:nth-child(2) {
      border-radius: 0 10px 10px 0;
    }
  }

  @keyframes buttons-slide-in {
    from {
      width: 4000px;
    }
    to {
      width: 1800px;
    }
  }
}
