.buttons-container {
    width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;

    animation: buttons-slide-in 1s ease-out forwards;

    @keyframes buttons-slide-in {
        from {
            width: 4000px;
        }
        to {
            width: 1800px;
        }
    }
}