@import "../../scss/variables.scss";

.main-button {
  width: 600px;
  height: 100px;
  border: none;
  border-radius: 10px;
  font-size: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  .live-icon {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: green;
    box-shadow: 0 0 10px 2px green;
  }

  &.primary {
    background-color: transparent;
    border: 2px solid color(primary-dark);

    color: color(primary-dark);

    &:hover {
      background-color: mix(color(primary-dark), rgba(255, 255, 255, 0.5), 10%);
    }

    &:active {
      background-color: mix(color(accent), rgba(0, 0, 0, 0));
    }

    &.selected {
      background-color: color(primary-dark);
      border: 0;

      color: white;
    }
  }

  &.dark {
    background-color: transparent;
    border: 2px solid color(dark-gray);

    color: color(dark-gray);

    &.selected {
      background-color: color(dark-gray);
      border: 0;

      color: white;
    }
  }
}
