@import "../../scss/variables.scss";

.main-button {
  width: 600px;
  height: 100px;
  border: none;
  border-radius: 10px;
  font-size: 1.9em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  animation: fade-in 1s ease-out forwards;

  @include width1600 {
    width: 500px;
    height: 100px;
  }

  @include width600 {
    width: 150px;
    height: 70px;
  }

  &:focus {
    outline: none;
  }

  .live-icon {
    align-self: flex-start;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(0, 255, 0);
    box-shadow: 0 0 5px 1px rgb(0, 255, 0);

    animation: pulse 2s ease-in-out infinite;

    @keyframes pulse {
      from {
        box-shadow: 0 0 5px 1px rgb(0, 255, 0);
      }
      50% {
        box-shadow: 0 0 15px 4px rgb(0, 255, 0);
      }
      to {
        box-shadow: 0 0 5px 1px rgb(0, 255, 0);
      }
    }
  }

  .github-icon {
    margin-left: 20px;

    @include width600 {
      width: 30px;
      margin-left: 10px;
    }
  }

  &.primary {
    background-color: transparent;
    border: 2px solid color(primary-dark);

    color: color(primary-dark);

    &:hover {
      background-color: mix(color(primary-dark), rgba(255, 255, 255, 0.5), 10%);
    }

    &:active {
      background-color: mix(color(accent), rgba(0, 0, 0, 0));
    }

    &.selected {
      background-color: color(primary-dark);
      border: 0;

      color: white;
    }
  }

  &.dark {
    background-color: transparent;
    border: 2px solid color(dark-gray);

    color: color(dark-gray);

    p {
      font-size: 0.8em;
    }

    &.selected {
      background-color: color(dark-gray);
      border: 0;

      color: white;

      &:hover {
        background-color: darken(color(dark-gray), 10%);
      }

      &:active {
        background-color: darken(color(dark-gray), 20%);
      }
    }
  }

  &.gray {
    background-color: transparent;
    border: 2px solid color(dark-gray);
    pointer-events: none;

    color: color(dark-gray);

    cursor: default;

    p {
      font-size: 0.8em;
    }

    &.selected {
      background-color: rgb(124, 124, 124);
      border: 0;

      color: white;

      .live-icon {
        background-color: rgb(187, 171, 171);
        box-shadow: 0 0 5px 0px rgb(194, 146, 146);
        animation: none;
      }
    }
  }
}
