@import "../../scss/variables.scss";

.project-image-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include width1600 {
    flex: unset;
  }

  @include width600 {
    width: 100%;
    margin-bottom: 50px;
  }

  .images-slideshow {
    animation: fade-in 1s ease-out forwards;
  }
}
