.placeholder-container {
  height: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .placeholder-image {
    width: 400px;
    height: 300px;
    background-color: white;

    animation: fade-in 1s ease-out forwards;
  }
}
