@import "../../scss/variables.scss";

.navbar-container {
  display: flex;
  justify-content: center;

  .navbar {
    list-style-type: none;
    color: white;

    position: fixed;
    top: 40px;
    width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    z-index: 10;

    .navbar-link {
      text-decoration: none;
      color: white;

      &.active {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
}
