@import "../../scss/variables.scss";

.navbar-container {
  display: flex;
  justify-content: center;

  .navbar {
    list-style-type: none;
    color: white;

    padding: 20px 40px;

    border-radius: 10px;

    position: fixed;
    top: 30px;
    width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    z-index: 10;

    &.primary {
      background-color: mix(color(primary), rgba(0, 0, 0, 0), 80%);
    }

    @each $project, $color in $projects {
      &.#{$project} {
        background-color: mix(color(#{$color}), rgba(0, 0, 0, 0), 80%);
      }
    }

    .navbar-link {
      text-decoration: none;
      color: white;

      &.active {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
}
