@import "../scss/variables.scss";

html {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 16px;
    color: color(primary-dark);

    @include width1600 {
      font-size: 14px;
    }
  }
}
