.process-image-container {
  width: 800px !important;
  height: auto !important;
  margin: 0 auto !important;
}

.sirv-zoom-thumbnails li {
  border: 1px solid rgb(70, 70, 70);
}

.sirv-zoom-button {
  border: none;
}
