@import "../../scss/variables.scss";

.footer {
  height: 300px;
  background-color: color(primary-dark);

  box-sizing: border-box;
  padding: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  color: white;

  transition: all 0.4s ease-out;

  &.contact {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .icons-container {
    display: flex;
    flex-direction: row;

    img {
      padding-right: 50px;
    }
  }

  &.contracted {
    .phone-icon {
      display: none;
    }
    .mail-icon {
      display: none;
    }
  }
}
