.footer {
  margin-top: 50px;
  height: 300px;
  background-color: #0f1f38;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media (max-width: 600px) {
  .footer {
    padding: 50px 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 600px) {
  .footer .text-container {
    max-height: 70px;
  }
}

.footer .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .icons-container a {
  padding-right: 50px;
}

.footer .icons-container a img {
  cursor: pointer;
}

.footer .icons-container a img:hover {
  -webkit-filter: drop-shadow(0px 0px 2px #ffb800);
          filter: drop-shadow(0px 0px 2px #ffb800);
}

.footer .icons-container a img:active {
  -webkit-filter: drop-shadow(0px 0px 3.5px white);
          filter: drop-shadow(0px 0px 3.5px white);
}

.footer.contact {
  padding: 200px 100px 100px 100px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1200px) {
  .footer.contact {
    padding: 200px 10%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer.contact h3:nth-child(n + 2) {
    font-size: 1.5em !important;
  }
}

.footer.contact .text-container {
  height: 200px;
}

.footer.contact .text-container .name {
  font-size: 2em;
}

.footer.contact .text-container .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer.contact .text-container .email-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer.contact .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 100px;
}

@media (max-width: 1200px) {
  .footer.contact .icons-container {
    padding: 0;
  }
}

.footer.contact .icons-container img {
  height: 70px;
  padding-bottom: 40px;
}
/*# sourceMappingURL=footer.css.map */