$colors: (
  primary: #1a2c49,
  primary2: #133367,
  primary-dark: #0f1f38,
  secondary: #6fdcff,
  accent: #ffb800,
  dark-gray: #494949,
  tracker-green: #008b0e,
  primal-red: #a60000,
  cluster-purple: #3d2242,
  folio-blue: #365383,
  loa-dark: #272324,
  tas-blue: #252e53,
  project-dark: #161616
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$projects: (
  cluster: cluster-purple,
  tracker: project-dark,
  primal: project-dark,
  tas: tas-blue,
  loa: loa-dark,
  folio: primary,
  loaa: loa-dark,
  loaw: loa-dark
);

// --- MEDIA QUERYS ---

@mixin width1600 {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin width1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin width600 {
  @media (max-width: 600px) {
    @content;
  }
}
