.projects-display {
  margin: 50px auto;
  align-self: flex-start;

  animation: fade-in 1s ease-out forwards;

  a {
    text-decoration: none;
  }

  &.grid {
    .projects-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 1800px;
    }
  }

  &.slider {
    position: relative;
    width: 50vw;

    .projects-container {
      position: absolute;

      display: flex;
      flex-direction: row;
      align-self: flex-start;

      // transition: all 1s ease-out;
    }

    a {
      width: 900px;
    }
  }
}
